In [1]:
# connecting to the database, and making a cursor

import sqlite3

conn = sqlite3.connect("school.db")
c = conn.cursor()

# need to close when done!
conn.close()

In [3]:
# executing statements
import sqlite3

conn = sqlite3.connect("school.db")
c = conn.cursor()

c.execute(
    """
    CREATE TABLE IF NOT EXISTS Students(
        ExamNo INTEGER PRIMARY KEY,
        Name TEXT,
        Class Text
    );
    """
)

# to keep changes, we need to commit them
conn.commit()

# need to close when done!
conn.close()

In [6]:
# executing statements
import sqlite3

conn = sqlite3.connect("school.db")
c = conn.cursor()

c.execute(
    """
    INSERT INTO Students VALUES(
        2, "Ashton Too", "23S56"
    );
    """
)

# to keep changes, we need to commit them
conn.commit()

# need to close when done!
conn.close()

In [7]:
# Inserting data with variables
# executing statements
import sqlite3

conn = sqlite3.connect("school.db")
c = conn.cursor()

ExamNo = 7
Name = "Kevin Chua"
Class = "23S56"

statement = """
    INSERT INTO Students VALUES(
        ?,?,?
    );
"""

c.execute(statement,[ExamNo, Name, Class])

# to keep changes, we need to commit them
conn.commit()

# need to close when done!
conn.close()

In [8]:
# Retrieving

# Inserting data with variables
# executing statements
import sqlite3

conn = sqlite3.connect("school.db")
c = conn.cursor()

c.execute("SELECT * FROM Students")

print(c.fetchone())

c.execute("SELECT * FROM Students")

print(c.fetchall())


# need to close when done!
conn.close()

(2, 'Ashton Too', '23S56')
[(2, 'Ashton Too', '23S56'), (7, 'Kevin Chua', '23S56')]